/*Innhold

1. Custom variables
2. Globas styles
3. Typography
4. Colors
5. CTA
6. Hamburger
7. Header
8. Footer
9. Home
10. CSM-Club
11. Exhibitions
12. Visit us
13. About
14. @Media quieries
*/

/* 1. Custom variables */ 

:root {
    --white100: #fff;
    --green200: rgba(224, 245, 226, 0.40);
    --red400: rgba(233, 98, 98, 0.26);
--h1-background: rgba(52, 132, 127, 0.56);
--background-header: #dbe8d5;
--purpletext: #3F3484;
--redtext: #710808;
--greentext: #15534F;
--beige-background: rgba(230, 214, 181, 0.50);
--blue-background: #3F348430;
--black: #000;
--color-cta: #9ac1bf;

--lexend-peta: 'Lexend Peta', sans-serif;

--weight400: 400;
--weight700: 700;
--weight600: 600; 

--lineheight: 1.5;

--size16: 1rem;
--size20: 1.25rem;
--size24: 1.5rem;
--size32: 2rem;
--size36: 2.25rem;


--boxshadow: 0px 5px 15px 0px rgba(37, 44, 97, 0.15), 0px 2px 4px 0px rgba(136, 144, 194, 0.20);


}

/*
2. Global styles
*/

*, *::before, *::after {
    box-sizing: border-box;
}

a,
p,
h1,
h2,
h3,
h4 {
    font-size: inherit; 
    line-height: inherit;
    padding: 0 0;
    margin: 0 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--lexend-peta);
    font-size: var(--size16);
    font-weight: var(--weight400);
    line-height: var(--lineheight);
    background: var(--white100);
    color: var(--black);
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.csm-container section {
    display: none;
}

main {
    flex: 1;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

nav,
#menu-checkbox {
    display: none;
}



/*
3. Typography
*/

h2,
h1,
a {
    font-weight: var(--weight700);
}

.h2-home {
    text-transform: uppercase;

}

h2 {
    text-align: center;
}


/*
4. Colors
*/

nav,
header {
    background: var(--background-header);
}

a {
    color: var(--black);
}

.homepage-top h1 {
background-color: var(--h1-background);
color: var(--white100);
}

.h2-home {
    color: var(--purpletext);
}

.painting-container {
    background: var(--green200);
}

/*
6. Hamburger
*/

#menu-checkbox:checked ~ nav {
    display: block;
}

nav a {
    display: block;
    padding: 10px 20px;
}

header {
    position: relative;
}

nav {
    position: absolute;
    top: 100px;
    right: 0px;

}

.hamburger {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 15px;
}


/*
7. Header
*/

header {
    padding: 10px 0 0 10px;
}

/*
9. Home
*/

.homepage-top {
    background-image: url(../images/Heroimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    padding: 0 20px;
    display: flex;
}

.homepage-top h1 {
    align-self: center;
    padding: 10px 5px;
}

.icons-home {
    display: flex;
    justify-content: space-between;
    margin: 30px 15px;
}

.icons-home img {
    width: 55px;
    height: 50px;
}

.painting-p-container {
    padding: 15px;
    display: grid;
    gap: 20px;
    
}

.painting-container {
    border-radius: 20px;
    margin: 0 10px;
}

.painting-container img {
    border-radius: 20px 20px 0 0;
}

.h2-home {
    margin: 60px 0 35px 0;
}
/*
11. Exhibition
*/

/*
14. Media quieries
*/

@media (min-width:1000px){
    /*Hamburger*/
    nav {
        display: block;
        position: static;
    } 
    
    .hamburger {
        display: none;
    }

    nav a {
        display: inline-block;
    }

    /*Typography*/

    .homepage-top h1 {
        font-size: var(--size36);

    }
    /*Header*/

    nav a {
        background-color: var(--color-cta);
        padding: 10px 20px;
        border-radius: 50px;
        white-space: nowrap;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    nav {
        justify-self: end;
        align-self: center;
        margin-right: 25px;
        display: flex;
        gap: 20px;
    }

    /*Home*/

    .homepage-top {
        height: 400px;
        background-position-y: center;
        justify-content: center;
    }

    
}
