/*Content

1. Custom variables
2. Global styles
3. Typography
4. Colors
5. CTA
6. Hamburger
7. Header
8. Footer
9.Flex
10.Grid
11.Layout

12. @Media quieries
*/

/* 1. Custom variables */

:root {
  --white100: #fff;
  --green200: rgba(224, 245, 226, 0.4);
  --greenfooter: #b9c19a;
  --red400: rgba(233, 98, 98, 0.26);
  --purple200: #3f348430;
  --h1-background: rgba(52, 132, 127, 0.56);
  --background-header: #dbe8d5;
  --purpletext: #3f3484;
  --redtext: #710808;
  --greentext: #15534f;
  --beige-background: rgba(230, 214, 181, 0.5);
  --blue-background: #34847f36;
  --black: #000;
  --color-cta: #9ac1bf;
  --active-cta: #add4d2;

  --lexend-peta: "Lexend Peta", sans-serif;

  --weight400: 400;
  --weight700: 700;
  --weight600: 600;

  --lineheight: 1.5;

  --size16: 1rem;
  --size20: 1.25rem;
  --size24: 1.5rem;
  --size32: 2rem;
  --size36: 2.25rem;

  --boxshadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*
2. Global styles
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
p,
h1,
h2,
h3,
h4 {
  font-size: inherit;
  line-height: inherit;
  padding: 0 0;
  margin: 0 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--lexend-peta);
  font-size: var(--size16);
  font-weight: var(--weight400);
  line-height: var(--lineheight);
  background: var(--white100);
  color: var(--black);
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.hide {
  display: none;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1500px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

nav,
#menu-checkbox {
  display: none;
}

/*
3. Typography
*/

h2,
h1,
a,
.join-bold {
  font-weight: var(--weight700);
}

.h2-home,
.csm-h3,
.csm-page h2 {
  text-transform: uppercase;
}

h2,
.csm-box-mobile h3,
.csm-box-mobile div,
.event-h3,
.fact-h3,
.cafe-p,
.exhibition-h1,
.visit-h1,
.visit-h3 {
  text-align: center;
}

.hamburger,
h2,
.exhibition-h1,
.visit-h1,
.about-h1 {
  font-size: var(--size24);
}

h3,
.cafe-p,
.csm-h1 {
  font-size: var(--size20);
}

/*
4. Colors
*/

nav,
header {
  background: var(--background-header);
}

a {
  color: var(--black);
}

.homepage-top h1 {
  background-color: var(--h1-background);
  color: var(--white100);
}

.h2-home,
.csm-h3,
.location-h2 {
  color: var(--purpletext);
}

.painting-container,
.fun-fact,
.food-drink,
.support {
  background: var(--green200);
}

.cafeteria,
.exhibition-container section,
.access,
.csm-h1,
.what-csm,
.why-join,
.easy-join,
.volunteer {
  background: var(--beige-background);
}

.csm-box,
.events-home,
.location,
.about-top {
  background: var(--red400);
}

.science-home,
.dates-p,
.fact-h3,
.food-h2 {
  color: var(--redtext);
}

.painting-container,
.csm-container img,
.csm-box,
.fun-fact,
.cafeteria,
.events-home,
.exhibition-container section,
.exhibition-container div,
.about-top,
.volunteer,
.support,
.internships,
.location,
.admission,
.food-drink,
.opening-hours,
.access,
.museum-photo,
.color-museum {
  box-shadow: var(--boxshadow);
}

.exhibition-h1,
.about-h1,
.csm-h1,
.visit-h1,
.h2-home {
  text-shadow: var(--boxshadow);
}

.vr-night,
.exhibition-h1,
.access-h2,
.csm-page h2,
.about-h1,
.about-container h2 {
  color: var(--greentext);
}

.admission {
  background: var(--purple200);
}

.opening-hours,
.internships {
  background: var(--blue-background);
}
/*
6. Hamburger
*/

#menu-checkbox:checked ~ nav {
  display: block;
}

nav a {
  display: block;
  padding: 10px 20px;
}

header {
  position: relative;
}

nav {
  position: absolute;
  top: 90px;
  right: 0px;
}

.hamburger {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
}

/*
7. Header
*/

header {
  padding: 10px 0 0 10px;
  height: 90px;
}

.logoheader img {
  max-width: 70%;
}

/*
8. Footer 
*/

footer {
  background: var(--greenfooter);
  display: grid;
  gap: 20px;
  padding: 10px 10px 20px 10px;
  margin-top: 40px;
}


.icon-socials img {
  max-width: 50px;
}



/*
9.Flex
*/


.homepage-top,
.csm-container,
.cafeteria,
.events-home,
.fun-fact,
.csm-h3, 
.button-join, 
.fact-body,
.csm-top,
.skelly-wrap,
.lab-wrap,
.exhibition-container section,
.exhibition-container div,
.exhibition-container img,
.admission,
.opening-hours,
.visit-us,
.about-container,
.about-h1,
.about-top,
.support,
.volunteer,
.internships,
.about-bottom,
.adress-bottom,
.icon-socials {
display: flex;
}

/*
10.Grid
*/

.painting-p-container,
.info-event,
.info-fact,
.what-csm,
.csm-page,
.why-join,
.easy-join {
    display: grid;
}


/*
11.Layout
*/

.icon-socials,
.csm-h3,
.button-join,
.csm-top,
.about-h1,
.homepage-top {
    justify-content: center;
}

.homepage-top h1,
.csm-h1 {
    align-self: center;
}

.csm-container,
.cafeteria,
.events-home,
.fun-fact,
.exhibition-container section,
.admission,
.opening-hours,
.visit-us,
.support,
.volunteer,
.internships,
.about-container,
.about-top,
.about-bottom,
.adress-bottom {
  flex-direction: column;
}


.adress-bottom {
    align-items: flex-start;
  }

.visit-us {
    align-items: center;
  }


  .admission,
  .opening-hours,
  .csm-box a {
    text-align: center;
  }

.lab-photo,
.skelleton-photo,
.what-csm,
.easy-join,
.why-join,
.homepage-top h1,
.painting-container,
.events-home,
.cafeteria,
.fun-fact,
.csm-container img,
.csm-box,
.csm-h1,
.exhibition-container section,
.exhibition-container div,
.exhibition-container img,
.visit-us,
.food-drink,
.location,
.access,
.admission,
.opening-hours,
.visit-us img,
.support,
.volunteer,
.internships,
.about-top {
  border-radius: 20px;
}

.painting-container img,
.vrgirl-home img,
.cafeteria img {
  border-radius: 20px 20px 0 0;
}

.fun-fact img {
    border-radius: 0 0 20px 20px;
  }

.csm-box a {
    border-radius: 50px;
}  


.visit-us,
.food-drink,
.location,
.access,
.admission,
.opening-hours,
.csm-h3,
.what-csm,
.why-join,
.easy-join,
.about-top,
.support,
.volunteer,
.internships {
  padding: 20px;
}

.homepage-top,
.csm-top {
    padding: 0 20px;
}

.homepage-top h1,
.csm-h1,
.exhibition-container p,
.admission p,
.opening-hours p,
.csm-box {
    padding: 10px;
}


.painting-p-container,
.info-event,
.info-fact,
.csm-box p,
.admission,
.opening-hours {
    padding: 15px;
}

.csm-box a {
    padding: 10px 20px;
}

.info-p,
.cafeteria p {
  padding: 10px 0;
}

.visit-h3 {
    padding: 20px 0;
}

.exhibition-container {
    padding: 0 10px;
  }


.painting-p-container,
.info-event,
.info-fact,
.csm-container,
.cafeteria,
.events-home,
.fun-fact,
.csm-box p,
.exhibition-container section,
.support,
.volunteer,
.internships,
.about-top,
.about-bottom,
.icon-socials {
    gap: 20px;
}  


.visit-us,
.about-container,
.csm-page {
    gap: 50px;
}



.painting-container,
.events-home,
.cafeteria,
.fun-fact,
.csm-container,
.csm-box {
  margin: 0 10px;
}



.homepage-top {
  background-image: url(../images/Heroimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}



.h2-home,
.science-home,
.vr-night {
  margin: 60px 0 35px 0;
}



.csm-box p {
  margin-bottom: 15px;
}

.csm-box a {
  background-color: var(--color-cta);
}

.csm-box div {
  margin-bottom: 10px;
}

.fun-fact,
.cafeteria {
  margin-top: 40px;
}


.csm-top {
  background-image: url(../images/webbs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}


.what-csm {
  gap: 30px;
}

.why-join,
.easy-join {
  gap: 10px;
}

.csm-page {
  margin: 0 20px;
}


.csm-page h2,
.about-h1 {
  margin-top: 30px;
}


.exhibition-h1 {
  margin: 60px 0 40px 0;
}


.exhibition-container section {
  padding: 40px 10px 60px 10px;
}



.visit-us img,
.csm-top {
  margin-bottom: 30px;
}


.access-h2 {
  word-break: break-word;
}


.visit-h1 {
  margin-top: 50px;
}


.about-container {
  padding: 20px 10px;
}



/*
12. Media quieries
*/

@media (min-width: 1000px) {


 /*Flex*/

 nav,
 .painting-container,
 .painting-img,
 .vrgirl-home,
 .fact-container,
 .icon-socials,
 .opening-hours p {
    display: flex;
 }

 /*Grid*/

header,
.csm-container,
.exhibition-container,
.visit-us,
.location-h2,
.access-h2,
.food-h2,
.about-container {
    display: grid;
}

header {
    grid-template-columns: 1fr 1fr;
  }

  footer {
    grid-template-columns: 1fr 1fr;
  }

.csm-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .exhibition-container {
    grid-template-columns: 1fr 1fr;
  }

  .exhibition-container h1 {
    grid-column: 1/-1;
  }

  .visit-us {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(7, min-content);
  }

  .location-h2 {
    grid-row: 2/3;
  }

  .location {
    grid-row: 3/4;
  }


  .access-h2 {
    grid-row: 4/5;
  }

  .access {
    grid-row: 5/6;
  }

  .food-h2 {
    grid-row: 6/7;
  }

  .food-drink {
    grid-row: 7/8;
  }

  .opening-hours {
    grid-row: 1/4;
  }


  .admission {
    grid-row: 1/4;
  }

  .museum-photo {
    grid-row: 4/8;
    grid-column: 2/4;
  }


  .csm-page {
    grid-template-columns: 1fr 1fr;
  }

  .csm-page h2 {
    grid-column: 1/-1;
  }

  .why-join {
    grid-column: 1/2;
    grid-row: 4/8;
  }

  .lab-wrap {
    grid-column: 2/-1;
  }

  .about-container {
    grid-template-columns: 1fr 1fr;
  }

  .about-h1 {
    grid-column: 1/2;
  }

  .about-container h2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .about-top {
    grid-row: 2/5;
  }


  /*Positioning*/

  .opening-hours p,
  .homepage-top {
    justify-content: center;
  }

  .csm-container img,
  .csm-web,
  .vrgirl-home,
  .info-event,
  .fun-fact,
  .cafeteria,
  .fun-fact section,
  .fun-fact div,
  .painting-container > div {
    flex: 1;
  }

  .location-h2,
  .access-h2,
  .food-h2 {
    align-self: end;
  }

  
  nav,
  .icon-socials {
    align-self: center;
  }

  nav,
  .icon-socials {
    justify-self: end;
  }

  .homepage-top {
    background-position-y: center;
  }


  .fun-fact,
  .events-home {
    flex-direction: row;
  }



  /*Gap*/


  main,
  .fact-container,
  .icon-socials,
  .about-container,
  .csm-container {
    gap: 30px;
  }

  nav,
  .visit-us {
    gap: 20px;
  }
  

  /*Layouts*/

 

  .opening-hours,
  .admission {
    height: 550px;
  }

  .exhibition-container,
  .csm-page {
    padding: 0 20px;
  }


  .about-container {
    margin-top: 30px;
    padding: 20px;
  }

  


  .homepage-top h1,
  .exhibition-h1 {
    font-size: var(--size36);
  }


  .homepage-top {
    height: 400px;
  }


  .fun-fact img {
    border-radius: 0 15px 15px 0;
  }

  .painting-container img,
  .vrgirl-home img {
    border-radius: 15px 0 0 15px;
  }


  footer {
    padding: 20px 40px;
  }


  .exhibition-container section {
    padding: 60px 20px 100px 20px;
  }

  .visit-dino {
    content: url(../images/dinosaur-desktop.jpg);
  }

  .exhibition-left {
    content: url(../images/Spaceman-desktop.jpg);
  }


  .location,
  .access,
  .food-drink {
    height: 200px;
  }


  .opening-hours,
  .admission {
    height: 550px;
  }


  .visit-us img {
    margin-bottom: 0;
  }


  .about-container {
    margin-top: 30px;
    padding: 20px;
  }

  .about-h1 {
    margin-top: 0px;
  }

  nav a {
    padding: 10px 20px;
    border-radius: 50px;
  }

 /*Hamburger and nav */

    
 nav {
    position: static;
 }

  .hamburger {
    display: none;
  }


  nav a {
    background-color: var(--color-cta);
    white-space: nowrap;
  }


  nav {
    margin-right: 25px;
  }



  nav a {
    display: inline-block;
    cursor: pointer;
  }

  nav a {
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  nav a:hover,
  .join-a:hover {
    background-color: var(--active-cta);
    transition: 500ms;
  }


  
}
